.env
model/
tmp/
obs/
tmp_cache/
__pycache__/
venv/
hrrr/
nbm/
nbm_exp/
nbmqmd/
nbmqmd_exp/
archive*
logs/
Wind*
test*
obs_metadata*
oryx*
download_nbm_yearly.py
obs_stations_active.txt

app_config.yaml
settings.json